 .login{
     display: flex;
     justify-content: center;
     
 }
 .divLogin{
     /* background-color: #282c34; */
     width: 50%;
 }
 .title{
     display: flex;
     justify-content: center;
     font: normal normal bold 30px/normal "Creepster", Helvetica, sans-serif;
     color: rgba(255,255,255,1);
     text-shadow: 1px 1px 0 #2ecc71 , -1px -1px 0 #2ecc71 , 1px -1px 0 #2ecc71 , -1px 1px 0 #2ecc71 ;
 }
 a {
	transition: all 3000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;	 
	max-width: 220px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 50px;	 
}
a.button {
font-family: 'Times New Roman', Times, serif;
font-size: 4vh;
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}
a.button:hover {
 
    box-shadow: rgba(124, 90, 228, 0.7) 0 0px 0px 40px inset;
    
}
.btns{
    display: flex;
    justify-content: space-between;
}
 