 
  .cartLogo {
 width: 5%;
 
    position: relative;
    animation-name: run;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
 
  /* Standard syntax */
  @keyframes run {
    0%   {  left:0px; top:0px;}
    25%  { left:500px; top:0px;}
     100% {  left:0px; top:0px;}
    100% {  left:0px; top:0px;}
  }